---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <!-- <a href='/blog/'> &lt; Back</a> -->
   <small>
    <em>Written by {frontmatter.author}</em><br>
    <em>Published on: {frontmatter.pubDate.toString().slice(0,10)}</em>
   </small>

  <slot />
</BaseLayout>  
